@font-face {
  font-family: 'iconfont';  /* Project id 4201138 */
  src: url('//at.alicdn.com/t/c/font_4201138_9dvpne50pn5.woff2?t=1691619057740') format('woff2'),
       url('//at.alicdn.com/t/c/font_4201138_9dvpne50pn5.woff?t=1691619057740') format('woff'),
       url('//at.alicdn.com/t/c/font_4201138_9dvpne50pn5.ttf?t=1691619057740') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: .16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
